*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 15px;
    background-color: #1e202b;
    margin: 0px;
    padding: 0px;
}
.textlogo{
    font-size: 16px;
}
.navbar{
    background-color: #1e202b;
    padding: 15px 20px;
    font-size: 10px;
}
.taglinetext{
    font-size: 9px;
}
.imgcontainer{
    width: 35%;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn {
    border-radius: 30px;
    padding: 0px 8px;
    margin: 0px 5px;
    transition-property: all;
    transition-duration: 0.1s ;
}

.btn:hover {
    color: #0d6efd;
    border: 1px solid #0d6efd;
}

.btn a:hover {
    color: inherit;
}


.Weather{
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.ForcastCurrent{
    background-color: #323544;
    margin: 0;
    padding: 0;
    color: #bfc1c8;

    

} 

.dayDate {
    background: rgba(0, 0, 0, 0.1);

    
}

#country{
    font-size: 19px;
}
.WeatherType{
    font-size: 20px;
    color: #0d6efd;
}
.CelciusData{
    font-size: 75px;
}


.NextDays{
    /* background-color: #323544; */
    background-color:#262936;
    margin: 0;
    padding: 0;
    color: #bfc1c8;
    font-weight: bold;
}
.nextdaydegree{
    font-size: 35px;
}
.next-day-header{
    background: rgba(0, 0, 0, 0.1);
}
.degreeLat{
    font-size: 19px;
}
.NextDayconditiontext{
    font-size: 18px;
    color: #0d6efd;
}
#Nextdays{
    background-color: #323544;
    margin: 0;
    padding: 0;
    color: #bfc1c8;
}


.fottercontainer{
    background-color: #262936;
    color: #bfc1c8;
    padding: 25px 10px;
}

/* 
.form-control{
    background-color: #323544;
    border:  solid transparent;
    border-radius: 30px;
    padding: 10px 10px;
} */
.Subscribe input[type="email"] {
    width: 100%;
    background-color: #1e202b;
    padding: 20px 20px;
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    position: relative;
}

.subscribebtn{
    padding: 12px 40px;
    border-radius: 30px;
    position:absolute;
    top: 1px;
    right: 0px;
    transform: translateY(10%);


}
.searcbtn{
    padding: 12px 30px;
    border-radius: 30px;
    position:absolute;
    background-color: #009ad8;
    top: 1px;
    right: 0px;
    transform: translateY(10%);
}
/* Change the color of the placeholder text in the input field */
input::placeholder {
    color: #bfc1c8 !important;
    font-size: 14px;
    background-color: #1e202b;
}



.Searchcontainer input[type="text"] {
    width: 100%;
    background-color: #1e202b;
    padding: 20px 20px;
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    position: relative;
}
.Searchcontainer input[type="text"]::placeholder {
    color: #bfc1c8 !important;
    font-size: 14px;
    background-color: #1e202b;
}
.copyright{
    font-size: 12px;
}

.Social-Icons i{

    border-radius: 50%;
    background: #1e202b;
    text-align: center;
    padding: 10px 10px;
    font-size: 20px;
    color: #009ad8;
    transition: all 0.3s ease;
}

.Social-Icons i:hover{
    background: #009ad8;
    color: white;
}